/*-----------------------------Background Colors*/

.bg-color-full {
    background-color: #fafafa;
}

.ui-menu-color {
    background-color: #000000;
}

.bg-color-section-full {
    background-color: #555555
}

.bg-color-personal-info {
    background-color: #555555;
}

.bg-color-availability {
    background-color: #555555;
}

/*-----------------------------General Rules*/


.list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

.section-heading {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


/*-----------------------------Wrapper Divs*/

.name-wrapper {
    background-color: rgba(0, 10, 10, 0.7);
}

/*-----------------------------Header*/

.logo {
    background: url("../images/live-band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 05s ease-in-out;
    -moz-transition: all 05s ease-in-out;
    -webkit-transition: all 05s ease-in-out;
}

.header-title {
    padding: 120px;
}

.name {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    color: rgba(250, 250, 250, 0.7);
}

.menuitem {
    height: 110px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;

}

/*-----------------------------Section*/

.availability-header {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    color: rgba(250, 250, 250, 0.7);
}

.section-column-information {
        padding-top: 70px;
        padding-left: 15px;
        padding-right: 15px;
}

.row {
    margin-right: 0px; 
    margin-left: 0px;
}

.section-column {
    height: 400px;
}

.about-us-video {
    text-align: center;
}

.availability-section {
    width: 100%;
    height: 300px;
}

/*-----------------------------Availability*/

.availability-icon {
    font-size: 50px;
    color: #3ca5b3;
}

.availability-heading {
    margin-bottom: 15px;
}

/*-----------------------------Personal Info*/

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key .personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p .personal-info-item .key p p {
    margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;

}

/*-----------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
}

.hvr-fade {
    background-color: #000000
}

/*-----------------------------Footer*/

.container-fluid {
    background-color: #000000;
    color: #8f8f8f;
    min-height: 120px;
    margin: 0;
}

.inline-block {
    color: #fafafa;
}

footer .band-pdf i {
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

footer .band-pdf i:hover {
    color: #3ca5b3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.our-social-title {
    padding-left: 15px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3ca5b3;
}

#footer-details {
    margin: 20px;
}

/*-----------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }




